<div id="mikotest"></div>

<script type="text/template" id="layout-recipe-template">
  <div id="content"></div>
  <div id="modals">
  </div>
</script>

<script type="text/template" id="recipe-list-template">
<div class="row">
  <div class="cookbook-label col-xs-12">
    <h3><%= current_user.name %>s Cookbook</h3>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2"id="search-recipe">
      <form class="search-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search-term" id="search-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-success" id="add-recipe">Add Recipe</button>
      <button class="btn btn-danger" id="rias-button">ITS ME RIA</button>
    </div>
  </div>
</div>

</script>

<script type="text/template" id="recipe-item-template">
  <div class="recipe col-xs-12">
    <span>{{- name }}</span>
    <ul>
      <li>{{- directions }}</li>
      <li>{{- ingredients }}</li>
    </ul>
  </div>
</script>

<script type="text/template" id="recipe-add-modal">
  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine bod</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</script>
