<div id="content"></div>

<script type="text/template" id="angry_cats-template">
  <button type="button" id="lol">TEST</button>
</script>

<script type="text/template" id="angry_cat-template">
  <div>{{- name }}</div>
</script>

<script type="text/template" id="recipe-list-template">
<div class="cookbook-label">
  <%= current_user.name %> Cookbook
</div>
</script>

<script type="text/template" id="recipe-item-template">
  <div class="recipe">
    <li>{{- recipe.name }}</li>
  </div>
</script>



