// Place all the styles related to the Cookbook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  #add-modal {
    .modal-boy {
      input, textarea {
        width: 100%;
        border: 1px solid #e5e5e5;
      }
    }
  }

  #cookbook-top {
    margin-bottom: 25px;
  }

  .recipe-list {
    background-color: #fff;
    padding-bottom: 40px;

    #all-recipes {
      margin: 0 auto;
    }

    .recipe {
      height: 100px;
      width: 150px;
      line-height: 100px;
      border-radius: 3px;
      background-color: green;
      color: #fff;
      text-align: center;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }
}
