body {
  background-color: #6600cc;
}

#login-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#login {
  background-color: #fff;

  #new_user {
    #user_email, #user_password {
      width: 100%;
    }

    .actions {
      float: left;
    }
  }
}
